<app-adminheader>
    <div class="addadminform_wrapper">
    <form [formGroup]="addadminform" (ngSubmit)="register()" class="addadmin_registerform" >
        <mat-form-field>
            <input matInput  type="text" formControlName="firstname" (blur)="inputBlur('firstname')"  placeholder="Enter First Name" >
            <mat-error
                    *ngIf="!addadminform.controls['firstname'].touched && addadminform.controls['firstname'].errors">
                First name is required</mat-error>
        </mat-form-field>
       
        
        <mat-form-field>
            <input matInput  type="text" formControlName="lastname" (blur)="inputBlur('lastname')" placeholder="Enter Last Name" >
            <mat-error
                    *ngIf="!addadminform.controls['lastname'].touched && addadminform.controls['lastname'].errors">
                Last name is required</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" (blur)="inputBlur('email')">
            <mat-error
                    *ngIf="!addadminform.controls['email'].touched && addadminform.controls['email'].errors">
                Email is required</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput  type="text" formControlName="phone" (blur)="inputBlur('phone')"  placeholder="Enter Phone Number" >
            <mat-error
                    *ngIf="!addadminform.controls['phone'].touched && addadminform.controls['phone'].errors">
                Phone Number name is required</mat-error> 
        </mat-form-field>
        
        <mat-form-field *ngIf="router.url == '/addadmin'">
            <input matInput  type="password" formControlName="password" (blur)="inputBlur('password')"  placeholder="Enter Password" >
            <mat-error
                    *ngIf="!addadminform.controls['password'].touched && addadminform.controls['password'].errors">
                Password is required</mat-error>
        </mat-form-field>
        
        <mat-form-field *ngIf="router.url == '/addadmin'">
            <input matInput  type="password" formControlName="confirmpassword" (blur)="inputBlur('confirmpassword')"  placeholder="Enter Confirm Password" >
            <mat-error
                    *ngIf="!addadminform.controls['confirmpassword'].touched && addadminform.controls['confirmpassword'].errors">
                Confirm Password is required</mat-error>
        </mat-form-field>
        <div style="color: red;" *ngIf="addadminform.hasError('mismatchedPasswords')">Passwords does not match</div>
        
        <mat-form-field>
            <!-- <input matInput  type="text" formControlName="state" (blur)="inputBlur('state')"  placeholder="Enter State" > -->
            <mat-label>Select State</mat-label>
            <mat-select formControlName="state">
                <mat-option *ngFor="let state of stateList" [value]="state.name">{{state.name}}</mat-option>
              </mat-select>
            <mat-error
                    *ngIf="!addadminform.controls['state'].touched && addadminform.controls['state'].errors">
                State is required</mat-error>
        </mat-form-field>
        
    
        <mat-form-field>
            <input matInput  type="text" formControlName="city" (blur)="inputBlur('city')"  placeholder="Enter City" >
            <mat-error
                    *ngIf="!addadminform.controls['city'].touched && addadminform.controls['city'].errors">
                City is required</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput  type="text" formControlName="zip" (blur)="inputBlur('zip')" placeholder="Enter Zip Code" >
            <mat-error
                    *ngIf="!addadminform.controls['zip'].touched && addadminform.controls['zip'].errors">
                Zipcode is required</mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit" >Submit</button>

    </form>
</div>
</app-adminheader>
