<span class="Successmodalmainwrapper">
  <span class="Successmodallogowrapper">
    <img src="../../../assets/images/logo.png">
  </span>
<h2 mat-dialog-title >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</h2>
<div mat-dialog-content>
  <p>{{ data.msg }}</p>
</div>
<mat-dialog-actions class="Successbuttonwraooer">
  <button mat-button class="nextbtn" [mat-dialog-close]="data" cdkFocusInitial>Okay!</button>
</mat-dialog-actions>
</span>



