<app-adminheader>
    
<mat-card class="asnewclass">

    <mat-list role="list">
        <mat-list-item (click)="dataType='consumer';openConsumerPanel()"
         [ngClass]="{'active':dataType === 'consumer'}"  
         role="listitem"><h2>Consumer Data </h2>
        </mat-list-item>

        <mat-list-item (click)="dataType='business';openBusinessPanel()"
         [ngClass]="{'active':dataType === 'business'}"
          role="listitem"><h2>Business Data</h2>
        </mat-list-item>

    </mat-list>
    
</mat-card>

<mat-card  *ngIf="dataType === 'consumer'">
  <form [formGroup]="consumarform"  (ngSubmit)="purchaseDataForConsumar()">
        <mat-accordion >
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Personal Data
                          </mat-panel-title>
                          <mat-panel-description>
                            Type name
                            <mat-icon>account_circle</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                    
                        <mat-form-field>
                          <input matInput type="text" formControlName="First_Name" placeholder="First Name">
                        </mat-form-field>
                    
                        <mat-form-field>
                          <input matInput type="text" formControlName="Middle_Initial"  placeholder="Middle Name">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text"  formControlName="Last_Name" placeholder="Last Name">
                          </mat-form-field>
                    
                        <mat-action-row>
                          <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                    
                      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Location
                          </mat-panel-title>
                          <mat-panel-description>
                            Type Location
                            <mat-icon>map</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field>
                            <input matInput formControlName="Physical_Address"  placeholder="Address">
                          </mat-form-field>
                    
                        <mat-form-field>
                          <input matInput formControlName="Physical_State" placeholder="State">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput formControlName="Physical_City"  placeholder="City">
                          </mat-form-field>

                          

                            <mat-form-field>
                                <input matInput formControlName="Physical_Zip"   placeholder="Zip Code">
                              </mat-form-field>

                              <mat-form-field>
                                  <input matInput formControlName="Area_Code"   placeholder="Area Code">
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput formControlName="Tally_County_Code"   placeholder="Country Code">
                                  </mat-form-field>
                    
                        <mat-action-row>
                          <button mat-button color="warn" (click)="prevStep()">Previous</button>
                          <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Household
                          </mat-panel-title>
                          <mat-panel-description>
                            Type Household Details
                            <mat-icon>house</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                    
                        <mat-form-field>
                          <input matInput formControlName="Income_Code" placeholder="Total Income">
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput formControlName="Number_Children" placeholder="Number of Children">
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput formControlName="DiscretionaryIncomeCode" placeholder="Discretionary Income ">
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput formControlName="Median_HseHld_Income_Code" placeholder="Median Income">
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput formControlName="Household_Size" placeholder="Household Size">
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput formControlName="UnsecuredCreditCapacityCode" placeholder="Unsecured Credit Capacity">
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput formControlName="Vehicle_Dominate" placeholder="Vehicle Dominate">
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput formControlName="Business_Owner" placeholder="Business Owner">
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput formControlName="NetWorth_Code" placeholder="NetWorth Code">
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput formControlName="Donor_Capacity_Code" placeholder="Donor Capacity Code">
                        </mat-form-field>
                    
                        <mat-action-row>
                          <button mat-button color="warn" (click)="prevStep()">Previous</button>
                          <button mat-button color="primary" (click)="nextStep()">End</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                    
                
        </mat-accordion>
        <br>  
        <button mat-raised-button color="primary">Purchase</button>
      </form>
        
</mat-card>

<br>

 <mat-card  *ngIf="dataType === 'business'">
    <form [formGroup]="businessForm"  (ngSubmit)="businessFormSubmit()">
        <mat-accordion >
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Location
                          </mat-panel-title>
                          <mat-panel-description>
                            Type Location
                            <mat-icon>account_circle</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                    
                        <mat-form-field>
                          <input matInput placeholder="Location_Sales_Code" formControlName="Location_Sales_Code">
                        </mat-form-field>
                                        
                        <mat-action-row>
                          <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                    
                      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Office
                          </mat-panel-title>
                          <mat-panel-description>
                           business
                            <mat-icon>map</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                    
                        <mat-form-field>
                          <input matInput placeholder="Years_In_Business_Code" formControlName="Years_In_Business_Code">
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput placeholder="Square_Footage_Code" formControlName="Square_Footage_Code">
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput placeholder="Number_Of_PCs_Code" formControlName="Number_Of_PCs_Code">
                        </mat-form-field>
                    
                        <mat-action-row>
                          <button mat-button color="warn" (click)="prevStep()">Previous</button>
                          <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                    
                      
                
              
        </mat-accordion>
        <br>
        <button mat-raised-button color="primary">Purchase</button>
      </form>
</mat-card> 

<mat-card *ngIf="dataType === 'business' && businesssearchCount !=''">
  <mat-label>Total Result :{{businesssearchCount}}</mat-label>
  <button type="button" mat-raised-button color="primary">Show Sample Data</button>
</mat-card>

<br>

<mat-card *ngIf="dataType ==='consumer' && search_count!=null">

    <h4>Total Data found : {{search_count}}</h4>
  
    <button mat-raised-button *ngIf="search_count!='' && search_count!='0'" color="primary" (click)="showconsumerdata()" >Show Sample Data</button>
  
  </mat-card>
  <br>

<!-- <mat-card>  
  <mat-form-field>
    <input matInput (keyup)="filter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="search_count!='' && dataType ==='consumer'">

    
      <ng-container matColumnDef="First_Name">
        <th mat-header-cell *matHeaderCellDef>First Name </th>
        <td mat-cell *matCellDef="let i"> {{i}} </td>
      </ng-container>
      <ng-container matColumnDef="Last_Name">
          <th mat-header-cell *matHeaderCellDef>Last Name </th>
          <td mat-cell *matCellDef="let i"> {{i}} </td>
        </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

</mat-card> -->

</app-adminheader>
