<!-- mat spinner for data search -->
<div class="spinne_main"  *ngIf="spinnerval==1">
    <div class="spinne_wrapper">
  <mat-spinner></mat-spinner>
</div>
</div>
<app-adminheader>

    <!-- header text-->
  <mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Purchase Data</span>
  </mat-toolbar-row>
  </mat-toolbar>
  <br>
<!-- consumer panel and business panel -->
<mat-card class="asnewclass">

    <mat-list role="list">
        <mat-list-item (click)="dataType='consumer';openConsumerPanel()"
         [ngClass]="{'active':dataType === 'consumer'}"
         role="listitem"><h2>Consumer Data </h2>
        </mat-list-item>

        <mat-list-item (click)="dataType='business';openBusinessPanel()"
         [ngClass]="{'active':dataType === 'business'}"
          role="listitem"><h2>Business Data</h2>
        </mat-list-item>

    </mat-list>

</mat-card>
<!-- form group for consumer data -->
<mat-card  *ngIf="dataType != '' && dataType == 'consumer' && search_count=='0'">
  <form [formGroup]="consumarform" >
        <mat-accordion >
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Personal Data
                          </mat-panel-title>
                        
                        </mat-expansion-panel-header>

                        <mat-form-field>
                          <input matInput type="text" formControlName="First_Name" placeholder="First Name">
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput type="text" formControlName="Middle_Initial"  placeholder="Middle Name">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type="text"  formControlName="Last_Name" placeholder="Last Name">
                          </mat-form-field>

                        <mat-action-row>
                          <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                      </mat-expansion-panel>

                      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                           Location
                          </mat-panel-title>  
                          
                        </mat-expansion-panel-header>

                        <mat-form-field>
                            <input matInput formControlName="Physical_Address"  placeholder="Address">
                          </mat-form-field>

                        <mat-form-field >
                          <mat-label>Select State</mat-label>
                         <mat-select formControlName="Physical_State">
                          <mat-option *ngFor="let state of stateList" [value]="state.abbreviation">{{state.name}}</mat-option>
                          </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>select city</mat-label>
                            <mat-select formControlName="Physical_City">
                            <mat-option *ngFor="let city of cityList" [value]="city.city">{{city.city}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        
                            <mat-form-field>
                                <input matInput formControlName="Physical_Zip"   placeholder="Zip Code">
                              </mat-form-field>

                              <mat-form-field>
                                  <input matInput formControlName="Area_Code"   placeholder="Area Code">
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput formControlName="Tally_County_Code"   placeholder="County Code">
                                  </mat-form-field>
                        <mat-action-row>
                          <button mat-button color="warn" (click)="prevStep()">Previous</button>
                          <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Household  
                           </mat-panel-title>
                          
                        </mat-expansion-panel-header>

                        <mat-form-field>
                          <input matInput formControlName="Income_Code" placeholder="Total Income">
                        </mat-form-field>
                    
                        <mat-form-field>
                            <mat-label>Select Number of Children</mat-label>
                            <mat-select formControlName="Number_Children">
                            <mat-option *ngFor="let children of ChildrenList" [value]="children.value">{{children.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                        <mat-form-field>
                          <input matInput formControlName="DiscretionaryIncomeCode" placeholder="Discretionary Income ">
                        </mat-form-field>

                  
                        <mat-form-field>
                            <mat-label>Select Median Household Income</mat-label>
                            <mat-select formControlName="Median_HseHld_Income_Code">
                            <mat-option *ngFor="let home of homeList" [value]="home.value">{{home.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field>
                            <mat-label>Select Household Size</mat-label>
                            <mat-select formControlName="Household_Size">
                            <mat-option *ngFor="let household of HouseholdList" [value]="household.value">{{household.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                        <mat-form-field>
                          <input matInput formControlName="UnsecuredCreditCapacityCode" placeholder="Unsecured Credit Capacity">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Select Vehicle Dominate</mat-label>
                            <mat-select formControlName="Vehicle_Dominate">
                            <mat-option *ngFor="let vehicle of VehicleList" [value]="vehicle.value">{{vehicle.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                       
                        <mat-form-field>
                            <mat-label>Select Business Owner</mat-label>
                            <mat-select formControlName="Business_Owner">
                          <mat-option *ngFor="let Business of BusinessownerList" [value]="Business.value">{{Business.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                        <mat-form-field>
                          <input matInput formControlName="NetWorth_Code" placeholder="NetWorth Code">
                        </mat-form-field>

                        <mat-form-field>
                          <input matInput formControlName="Donor_Capacity_Code" placeholder="Donor Capacity Code">
                        </mat-form-field>

                        <mat-action-row>
                          <button mat-button color="warn" (click)="prevStep()">Previous</button>
                          <button mat-button color="primary" (click)="nextStep()">End</button>
                        </mat-action-row>
                      </mat-expansion-panel>


        </mat-accordion>
        <br>
        
        <button mat-raised-button color="primary"  (click)="purchaseDataForConsumar()">Search</button>
      
      </form>

</mat-card>
<!-- search count for consumer data -->
<mat-card *ngIf="dataType ==='consumer' && search_count!='0'">

  <h4>Total Data found : {{search_count}}</h4>

  <button mat-raised-button *ngIf="search_count!='' && search_count!='0'" color="primary" (click)="showconsumerdata()" >Show Sample Data</button>

</mat-card>

<br>
<!-- table for consumer data -->
<mat-card *ngIf="search_count!='0' && dataType ==='consumer' && consumerdata!=null ">
    <div  *ngIf="search_count!='0' && dataType ==='consumer' && consumerdata!=null ">
        <button mat-raised-button color="primary" [routerLink]="'/billing'">Purchase Now!</button>
      <mat-form-field>
        <input matInput (keyup)="filter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div class="mat-elevation-z8">
      <table mat-table [dataSource]="consumerdata" matSort>
    
      
          <ng-container matColumnDef="First_Name" >
            <th mat-header-cell *matHeaderCellDef>First Name </th>
            <td mat-cell *matCellDef="let i" [innerHTML]="i.First_Name" > {{i.First_Name}} </td>
          </ng-container>
        <ng-container matColumnDef="Last_Name">
            <th mat-header-cell *matHeaderCellDef>Last Name </th>
            <td mat-cell *matCellDef="let i " [innerHTML]="i.Last_Name" > {{i.Last_Name}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Ind_Gender_Code">
              <th mat-header-cell *matHeaderCellDef> Gender</th>
              <td mat-cell *matCellDef="let i"> {{i.Ind_Gender_Code}} </td>
            </ng-container>
    
    
          <ng-container matColumnDef="Ind_Age">
              <th mat-header-cell *matHeaderCellDef>Age </th>
              <td mat-cell *matCellDef="let i " > {{i.Ind_Age}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef>Email </th>
                <td mat-cell *matCellDef="let i "> {{i.Email}} </td>
              </ng-container>
    
        <ng-container matColumnDef="Phone">
            <th mat-header-cell *matHeaderCellDef>Phone Number </th>
            <td mat-cell *matCellDef="let i"> {{i.Phone}} </td>
          </ng-container>
    
          <ng-container matColumnDef="Physical_Address">
              <th mat-header-cell *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let i"> {{i.Physical_Address}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Physical_Zip">
                <th mat-header-cell *matHeaderCellDef> ZipCode </th>
                <td mat-cell *matCellDef="let i"> {{i.Physical_Zip}} </td>
            </ng-container>
    
    
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20,50]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    
    </mat-card>


    <!-- form group for business data -->
 <mat-card  *ngIf="dataType !='' && dataType == 'business' && search_count=='0' ">
    <form [formGroup]="businessForm">
        <mat-accordion >
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Location
                          </mat-panel-title>
                          
                        </mat-expansion-panel-header>

                        <mat-form-field>
                          <input matInput placeholder="Location" formControlName="Location_Sales_Code">
                        </mat-form-field>

                        <mat-action-row>
                          <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                      </mat-expansion-panel>

                      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Office
                          </mat-panel-title>
                        
                        </mat-expansion-panel-header>

                        
                        <mat-form-field>
                            <mat-label>Select Years In Business</mat-label>
                            <mat-select formControlName="Years_In_Business_Code">
                            <mat-option *ngFor="let business of yearofbusinessList" [value]="business.value">{{business.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                       
                        <mat-form-field>
                            <mat-label>Select Square Footage</mat-label>
                            <mat-select formControlName="Square_Footage_Code">
                            <mat-option *ngFor="let footage of squareFootageList" [value]="footage.value">{{footage.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                        
                        <mat-form-field>
                            <mat-label>Select Number Of PCs</mat-label>
                            <mat-select formControlName="Number_Of_PCs_Code">
                            <mat-option *ngFor="let NumberOfPcs of NumberOfPcsList" [value]="NumberOfPcs.value">{{NumberOfPcs.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                        <mat-action-row>
                          <button mat-button color="warn" (click)="prevStep()">Previous</button>
                          <button mat-button color="primary" (click)="nextStep()">End</button>
                        </mat-action-row>
                      </mat-expansion-panel>




        </mat-accordion>
        <br>
        <button mat-raised-button color="primary" (click)='businessFormSubmit()'>Search</button>
      </form>
</mat-card>
<!-- search count for business data -->
<mat-card *ngIf="dataType == 'business' && search_count !='0'">
  <h3>Total Result :{{search_count}}</h3>
  <br>
  <button type="button" *ngIf="search_count!='' && search_count!='0'" mat-raised-button color="primary" (click)="showbusinessdata()">Show Sample Data</button>
  
</mat-card>
<br>
<!-- table for business -->

<mat-card  *ngIf="search_count!='0' && dataType ==='business' && businessdata!=null ">

  <div  *ngIf="search_count!='0' && dataType ==='business' && businessdata!=null "  >
      <button mat-raised-button color="primary" [routerLink]="'/billing'">Purchase Now!</button>
    <mat-form-field>
      <input matInput (keyup)="filter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="mat-elevation-z8">
    <table mat-table [dataSource]="businessdata" matSort>
  
    
        <ng-container matColumnDef="First_Name" >
          <th mat-header-cell *matHeaderCellDef>First Name </th>
          <td mat-cell *matCellDef="let i" [innerHTML]="i.First_Name" > {{i.First_Name}} </td>
        </ng-container>
      <ng-container matColumnDef="Last_Name">
          <th mat-header-cell *matHeaderCellDef>Last Name </th>
          <td mat-cell *matCellDef="let i " [innerHTML]="i.Last_Name" > {{i.Last_Name}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Ind_Gender_Code">
            <th mat-header-cell *matHeaderCellDef> Gender</th>
            <td mat-cell *matCellDef="let i"> {{i.Ind_Gender_Code}} </td>
          </ng-container>
  
  
        <ng-container matColumnDef="Ind_Age">
            <th mat-header-cell *matHeaderCellDef>Age </th>
            <td mat-cell *matCellDef="let i " > {{i.Ind_Age}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef>Email </th>
              <td mat-cell *matCellDef="let i "> {{i.Email}} </td>
            </ng-container>
  
      <ng-container matColumnDef="Phone">
          <th mat-header-cell *matHeaderCellDef>Phone Number </th>
          <td mat-cell *matCellDef="let i"> {{i.Phone}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Physical_Address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let i"> {{i.Physical_Address}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Physical_Zip">
              <th mat-header-cell *matHeaderCellDef> ZipCode </th>
              <td mat-cell *matCellDef="let i"> {{i.Physical_Zip}} </td>
          </ng-container>
  
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20,50]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </mat-card>
  

</app-adminheader>
