<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
  <form [formGroup]="resetForm" (ngSubmit)="resetFormSubmit()">
    <mat-label *ngIf="msg !=null" class="errorred">{{msg}}</mat-label>
    <mat-form-field>
      <input matInput placeholder="Old Password" type="password" formControlName="oldpass" (blur)="inputUntouched('oldpass')">
      <mat-error
        *ngIf="!resetForm.controls['oldpass'].valid && resetForm.controls['oldpass'].errors.required && resetForm.controls['oldpass'].touched">
        Password field can not be blank</mat-error> 
     <!-- <mat-error  *ngIf="!resetForm.controls['oldpass'].errors.required  && resetForm.controls['oldpass'].touched">Minimum length for password is 4!</mat-error> -->
    </mat-form-field>

    <mat-form-field>
    <input matInput placeholder="New Password" type="password" formControlName="newpass" (blur)="inputUntouched('newpass')">
    <mat-error
      *ngIf="!resetForm.controls['newpass'].valid && resetForm.controls['newpass'].errors.required && resetForm.controls['newpass'].touched">
      Confirm Password field can not be blank</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Confirm Password" type="password" formControlName="conpass" (blur)="inputUntouched('conpass')">
      <mat-error
        *ngIf="!resetForm.controls['conpass'].valid && resetForm.controls['conpass'].errors.required && resetForm.controls['conpass'].touched">
        Confirm Password field can not be blank</mat-error>
      <!-- <mat-error *ngIf="f.confirmPassword.errors.mustMatch">Confirm Password is not valid</mat-error> -->
        <mat-error *ngIf="!resetForm.controls['conpass'].valid && resetForm.controls['conpass'].touched">Password does not match </mat-error>
    </mat-form-field>

    <button mat-button color="primary">Reset Password</button>
    <button mat-button (click)="onNoClick()">No Thanks</button>
  </form>
  
</div>