/* ----------------- Login css start --------------- */


.as_loginbg{
  background-image: url(../../assets/images/loginbgnew.png) !important;
  background-size: cover !important;
  box-shadow: none !important;
  margin: 0 !important;
  border-radius: 0 !important;
  background-repeat: no-repeat !important;
  background-position: top center !important;
  position: relative !important;
  overflow: auto;
  max-height: 100vh;
}
/* .as_loginbg:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background:rgba(0, 142, 255, 0.1);
} */

.as_loginbg .from{
  background: url(../../assets/images/formbg.png);
  border: 1px solid #091c58 !important;
  z-index: 9;
  box-shadow: 0 2px 43px #000!important;
  margin: 0 auto 30px 12% !important;
  padding: 57px 39px;
  border-radius: 0 !important;
  width: 26% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-top: 118px !important;
}
.as_loginbg .from:before{
 content: '';
 background: url(../../assets/images/logo.png);
    width: 100%;
    height: 94px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -114px;
    left: 50%;
    transform: translateX(-50%);

}
.as_loginbg .from button.mat-primary {
  background: rgba(255,255,0,1);
  background: -moz-linear-gradient(top, rgba(255,255,0,1) 0%, rgba(255,234,1,1) 49%, rgba(255,209,2,1) 50%, rgba(255,209,2,1) 71%, rgba(255,209,2,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,0,1)), color-stop(49%, rgba(255,234,1,1)), color-stop(50%, rgba(255,209,2,1)), color-stop(71%, rgba(255,209,2,1)), color-stop(100%, rgba(255,209,2,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,0,1) 0%, rgba(255,234,1,1) 49%, rgba(255,209,2,1) 50%, rgba(255,209,2,1) 71%, rgba(255,209,2,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,0,1) 0%, rgba(255,234,1,1) 49%, rgba(255,209,2,1) 50%, rgba(255,209,2,1) 71%, rgba(255,209,2,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,0,1) 0%, rgba(255,234,1,1) 49%, rgba(255,209,2,1) 50%, rgba(255,209,2,1) 71%, rgba(255,209,2,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,0,1) 0%, rgba(255,234,1,1) 49%, rgba(255,209,2,1) 50%, rgba(255,209,2,1) 71%, rgba(255,209,2,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ffd102', GradientType=0 );
  color: #031021;
  font-size: 48px;
  text-transform: uppercase;
  padding: 13px 5px;
  box-shadow: 0 3px 7px #000;
  margin-top: 20px;
}
.as_loginbg .from .signupfooter{
  color: #fff;
  padding-top: 20px;
}
.as_loginbg .from .signupfooter a{
  padding-right: 0 !important;
}
.as_loginbg .from h2 {
  text-align: center !important;
  background-color: #ffffff63 !important;
  color: #474745 !important;
  padding: 15px !important;
  text-transform: uppercase !important;
  border: 1px solid #fff !important;
  display: none;
}

.as_loginbg .from .mat-form-field-infix input, .as_loginbg .from .mat-form-field-infix mat-select{
  background: #072347;
    height: 55px;
    width: 96%;
    padding: 0 1.7%;
    border-top: 3px solid #000000;
    border-left: 3px solid #000000;
    color: #fff;
}
.as_loginbg .from .mat-form-field-infix{
  border-top: 0;
}
.as_loginbg .from .mat-form-field-label-wrapper {
  top: -4px;
  padding-top: 0;
}
.as_loginbg .from .mat-form-field-wrapper {
  position: relative;
  padding: 0 !important;
}
.as_loginbg .from .mat-focused .mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty {display: none !important}
.as_loginbg .from .mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty {display: block !important;left: 2%;color: #969595;top: 30px;}
.as_loginbg .from .mat-form-field-label.ng-star-inserted {display: none !important}
.as_loginbg .from .mat-form-field-appearance-legacy .mat-form-field-underline {display: none !important}
.as_loginbg .from .mat-form-field-subscript-wrapper{
    position: relative;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 10px;
}
.as_loginbg form.example-container{
  position: relative;
  padding-top: 132px;
}
.as_loginbg form.example-container:before{
  content: '';
    height: 97px;
    width: 97px;
    background-image: url(../../assets/images/loginlogo.png);
    background-repeat: no-repeat;
    background-color: #fcfcfc;
    display: flex;
    background-position: center center;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    box-shadow: 2px 5px 16px #0000009e;
}
.as_loginbg.as_signupbg form.example-container:before{background-image: url(../../assets/images/signup.png);}
.as_loginbg.as_forgotpassbg form.example-container:before{background-image: url(../../assets/images/forgotpass.png);}

.as_loginbg.as_forgotpassbg .from button.mat-primary{font-size: 37px;}

/* ----------------- Login css end --------------- */
  
  
  
  
  
  /*--------------------- avijit css start ----------------- */
  body{overflow-y: hidden;}
  .as_mainwrapper {box-shadow: none !important;}
  .as_mainwrapper mat-list mat-list-item{height: auto;}
  .as_mainwrapper .mat-list-base .mat-list-item .mat-list-item-content{flex-wrap: wrap;padding: 0;}
  .as_mainwrapper mat-list mat-list-item mat-card-title{
    display: block;
    width: 100%;
    background: #242a2b;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin: 0 !important;
    margin-bottom: 20px !important;
    text-transform: uppercase;
  }
  .as_mainwrapper mat-list mat-list-item.aslist2  mat-card-title{background: #0f59a0;}
  .as_mainwrapper mat-list mat-list-item.aslist2 mat-card-content{
    background: rgba(145,202,227,1);
    background: -moz-linear-gradient(left, rgba(145,202,227,1) 0%, rgba(1,77,153,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(145,202,227,1)), color-stop(100%, rgba(1,77,153,1)));
    background: -webkit-linear-gradient(left, rgba(145,202,227,1) 0%, rgba(1,77,153,1) 100%);
    background: -o-linear-gradient(left, rgba(145,202,227,1) 0%, rgba(1,77,153,1) 100%);
    background: -ms-linear-gradient(left, rgba(145,202,227,1) 0%, rgba(1,77,153,1) 100%);
    background: linear-gradient(to right, rgba(145,202,227,1) 0%, rgba(1,77,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91cae3', endColorstr='#014d99', GradientType=1 );
  }
  .blockimg{width: 375px; margin: 0 auto; display: block;}
  .blockimg img{max-width: 100%;}
  .paybtn {
    background: #fcb72b !important;
    color: #fff !important;
    display: block !important;
    margin: 21px auto 0 !important;
    border-radius: 30px !important;
  }
  .as_mainwrapper mat-list mat-list-item mat-card-content mat-card-subtitle span.colsubtitle{
    color: #fff;
    padding: 0 55px;
    display: block;
    line-height: 19px;
  }
  .as_mainwrapper mat-list mat-list-item mat-card-content mat-card-subtitle h2{
    color: #fff;
    text-shadow: none !important;
    text-transform: uppercase;
    font-weight: normal;
  }
  .as_mainwrapper mat-list mat-list-item.aslist2 mat-card-content mat-card-subtitle p{border-bottom: 1px solid #bfae87;}
  .as_mainwrapper mat-list mat-list-item .blockimgwrapper a{
    height: 65px;
      width: 65px;
      position: relative !important;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 auto;
      background: #ada9a9;
      display: block;
      border: 2px solid #b3afaf;
  }
  .as_mainwrapper mat-list mat-list-item mat-card-content mat-card-subtitle{text-align: center;    margin: 0 !important;
    padding: 0 30px;}
  .as_mainwrapper mat-list mat-list-item mat-card-content mat-card-subtitle p i{margin-right: 10px;}
  .as_mainwrapper mat-list mat-list-item mat-card-content mat-card-subtitle p.name, 
  .as_mainwrapper mat-list mat-list-item mat-card-content mat-card-subtitle p.Designation{justify-content: center;}
  .as_mainwrapper mat-list mat-list-item mat-card-content mat-card-subtitle p{
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #6d7779;
    color: #dedede;
  }
  .as_mainwrapper mat-list mat-list-item mat-card-content mat-card-subtitle p.name{font-size: 21px; border: 0;padding-bottom: 0;}
  .as_mainwrapper mat-list mat-list-item mat-card-content mat-card-subtitle p:nth-last-child(1){border: none;}
  .as_mainwrapper mat-list mat-list-item mat-card-content mat-card-subtitle p.Designation {
    padding-top: 5px;
    padding-bottom: 23px;
}
  .accountbg{
    position: absolute;
    right: 46px;
    bottom: 39px;
    width: 220px;
    opacity: 0.1;
  }
  .as_mainwrapper mat-list mat-list-item mat-card-content {
    width: 93%;
    background: rgba(93,109,112,1);
    background: -moz-linear-gradient(left, rgba(93,109,112,1) 0%, rgba(36,42,43,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(93,109,112,1)), color-stop(100%, rgba(36,42,43,1)));
    background: -webkit-linear-gradient(left, rgba(93,109,112,1) 0%, rgba(36,42,43,1) 100%);
    background: -o-linear-gradient(left, rgba(93,109,112,1) 0%, rgba(36,42,43,1) 100%);
    background: -ms-linear-gradient(left, rgba(93,109,112,1) 0%, rgba(36,42,43,1) 100%);
    background: linear-gradient(to right, rgba(93,109,112,1) 0%, rgba(36,42,43,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d6d70', endColorstr='#242a2b', GradientType=1 );
    margin: 0 auto;
    margin-bottom: 21px;
    padding-top: 15px;
    position: relative;
  }
  .editbtn{
    position: relative !important;
    right: 0;
    top: 10px;
    color: #fff !important;
    cursor: pointer !important;
    display: block !important;
    margin: 20px auto !important;
    background: #879496 !important;
    border-radius: 30px !important;
    margin-top: 0 !important;
  }
  .editbtn:after, .paybtn:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 79%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 30px;
}
  .as_mainwrapper mat-list mat-list-item .blockimgwrapper {
      display: inline-block; width: 100%;    text-align: center;
  }
  .as_mainwrapper mat-list mat-list-item .blockimgwrapper a img{
    max-width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
  }
  .as_mainwrapper mat-list{display: flex; justify-content: space-between;    flex-wrap: wrap;}
  .as_mainwrapper mat-list mat-list-item{
    width: 48% !important;
    height: auto !important;
    box-shadow: 0px 2px 10px #ddd;
    position: relative;
  }
  .as_mainwrapper mat-list mat-list-item.aslist3{
    width: 100% !important;
    margin-top: 37px;
  }
  .as_mainwrapper mat-list mat-list-item.aslist3 mat-form-field{
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .as_mainwrapper mat-list mat-list-item.aslist3 .mat-focused .mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty {display: none !important}
  .as_mainwrapper mat-list mat-list-item.aslist3 .mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty {display: block !important;left: 1%;color: #969595;top: 30px;}
  .as_mainwrapper mat-list mat-list-item.aslist3 .mat-form-field-label.ng-star-inserted {display: none !important}
  .as_mainwrapper mat-list mat-list-item.aslist3 .mat-form-field-appearance-legacy .mat-form-field-underline {display: none !important}
  .as_mainwrapper mat-list mat-list-item.aslist3 mat-form-field input{
    height: 40px;
    background-color: #fff;
    width: 98%;
    padding: 0 1%;
    box-shadow: 0px 2px 2px #f0e8e8;
    border: 1px solid #c5c5c5;
  }
  .as_mainwrapper mat-list mat-list-item.aslist3 .mat-paginator-outer-container{
    display: flex;
    background: #c9cccd;
    margin-top: 33px;
  }

  .as_mainwrapper mat-list mat-list-item.aslist3  mat-card-title{background: #0696b1;}
  .as_mainwrapper mat-list mat-list-item.aslist3 mat-card-content{
    background: #fff;
    /* background: -moz-linear-gradient(left, rgba(1,179,211,1) 0%, rgba(3,126,148,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,179,211,1)), color-stop(100%, rgba(3,126,148,1)));
    background: -webkit-linear-gradient(left, rgba(1,179,211,1) 0%, rgba(3,126,148,1) 100%);
    background: -o-linear-gradient(left, rgba(1,179,211,1) 0%, rgba(3,126,148,1) 100%);
    background: -ms-linear-gradient(left, rgba(1,179,211,1) 0%, rgba(3,126,148,1) 100%);
    background: linear-gradient(to right, rgba(1,179,211,1) 0%, rgba(3,126,148,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01b3d3', endColorstr='#037e94', GradientType=1 ); */
    width: 97%;
    padding-top: 0;
  }
  .as_mainwrapper mat-list mat-list-item.aslist3 mat-card-content table th, 
  .as_mainwrapper mat-list mat-list-item.aslist3 mat-card-content table tr, 
  .as_mainwrapper mat-list mat-list-item.aslist3 mat-card-content table td{color: #000000;border-color: #ccdbde;}
  .as_mainwrapper mat-list mat-list-item.aslist3 mat-card-content table tbody tr:nth-child(odd){color: #fff;border-color: #ccdbde;  background:rgba(0,0,0,.05);}
  .as_mainwrapper mat-list mat-list-item.aslist3 mat-card-content table tbody tr:nth-child(even){color: #fff;border-color: #ccdbde; background: #fff;}
  .as_mainwrapper mat-list mat-list-item.aslist3 mat-card-content table{
    margin-top: 0;
    margin: 0;
    background: none !important;
    box-shadow: none !important;
    width: 100%;
  }

.as_editprofile form .mat-form-field{display: block;}
.as_editprofile form{
  position: relative;
    z-index: 9;
    width: 41%;
    margin: 0 auto;
    display: block;
    background: #fff;
    padding: 20px;
    box-shadow: 1px 2px 10px #ddd;
}
.as_editprofile form .mat-button-base.mat-primary{
  background: #0f59a0;
    display: block;
    margin: 0 auto;
    padding: 3px 51px;
    border-radius: 30px;
}
.as_editprofile{position: relative;}
.as_editprofile .inner_wrapper .rightpannel{
  background: url(../../assets/images/editprofilebg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0 !important;
}
.as_editprofile .editprofiletitle{
  text-align: center;
  width: 100%;
  display: block;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 30px;
  position: relative;
    z-index: 9;
    color: #3f3e3e;
    padding-top: 20px;
}
.as_editprofile.as_support .example-container form{
  width: 40%;
}
.passwordchangebtn{
  position: relative;
    display: block;
    width: 41%;
    margin: 0 auto;
    margin-bottom: 78px;
    padding: 20px;
    text-align: center;
    background: #0f59a0;
    z-index: 9;
    color: #fff;
    cursor: pointer;
    box-shadow: 3px 8px 10px #ddd;
}
.as_editprofile.as_support .example-container form .mat-button-base.mat-warn{
    background: #0f59a0;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 2px 53px;
    border-radius: 32px;
    margin-top: 20px;
}
.as_editprofile.as_support .example-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}









  /*--------------------- avijit css end ----------------- */
  @media only screen and (max-width: 1700px) {
    .techdashboard_header .logo_wrapper {max-width: 175px !important;}
    .as_mainwrapper mat-list mat-list-item mat-card-content{min-height: 100vh !important;}
  }

  @media only screen and (max-width: 1400px) {
    .as_editprofile form {width: 60%;}
  }
  @media only screen and (max-width: 1440px) {
    .as_loginbg.as_forgotpassbg .from button.mat-primary{font-size: 30px;}
  }
  @media only screen and (max-width: 1300px) {
    .as_loginbg .from{
      width: 32% !important;
      margin: 0 auto 30px 5% !important;
    }
  }

  @media only screen and (max-width: 991px) {
    .as_loginbg .from{
      width: 39% !important;
    }
    .as_loginbg .from {
      width: 81% !important;
      background-repeat: no-repeat;
      background-size: cover;
  }
  }

    