<!-- <p>resetpassword works!</p>
<form [formGroup]="resetpasswordForm" (ngSubmit)="resetsubmit()" class="loginform">
    <div class="formgroup">

        <input matInput type="password" placeholder="Password" formControlName="password"
            (blur)="f.inputBlur(resetpasswordForm,'password')" />
        <mat-error
            *ngIf="resetpasswordForm.controls['password']?.touched && resetpasswordForm.controls['password'].errors && resetpasswordForm.controls['password'].errors.required"
            class="errormsgblue">Password is required !</mat-error>
        <mat-error
            *ngIf="resetpasswordForm.controls['password']?.touched && resetpasswordForm.controls['password'].errors && resetpasswordForm.controls['password'].errors.minlength"
            class="errormsgblue">Password is too short !</mat-error>

    </div>
    <div class="formgroup">

        <input matInput type="password" placeholder="Confirm Password" formControlName="conpassword"
            (blur)="f.inputBlur(resetpasswordForm,'conpassword')" />
        <mat-error
            *ngIf="resetpasswordForm.controls['conpassword']?.touched && resetpasswordForm.controls['conpassword'].errors && resetpasswordForm.controls['conpassword'].errors.required"
            class="errormsgblue">Confirm password is required !</mat-error>
        <mat-error
            *ngIf="resetpasswordForm.controls['conpassword']?.touched && resetpasswordForm.controls['conpassword'].errors && resetpasswordForm.controls['conpassword'].errors.minlength"
            class="errormsgblue">Confirm password is too short !</mat-error>
        <mat-error *ngIf="resetpasswordForm.hasError('mismatchedPasswords')">Passwords must match</mat-error>

    </div>
    <div class="formgroup loginbuttoncon">

        <button mat-button class="orangegradientbutton">Reset</button>
    </div>
</form> -->

<lib-reset-password 
[fromTitleName]="fromTitleName"
 [serverUrl]="serverUrl"
  [addEndpoint]="addEndpoint" 
  [logo]="logo">
</lib-reset-password>
