<app-adminheader>
    <mat-card>
        <mat-label>Name :</mat-label><mat-label>{{name}}</mat-label><br>
        <mat-label>Phone Number :</mat-label><mat-label>{{phone}}</mat-label><br>
        <mat-label>Address :</mat-label><mat-label>{{address}}</mat-label><br>
        <mat-label>Company Name :</mat-label><mat-label>{{company}}</mat-label>
        <mat-label>Select an option</mat-label><mat-label>Select an option</mat-label>
        

    </mat-card>

    <mat-card>Simple card2</mat-card>
    <mat-card>Simple card3</mat-card>
</app-adminheader>