<app-adminheader>

<lib-listing *ngIf="pendingmodelapplicationarray!=null && pendingmodelapplicationarray.length>0" 
    [datasource]="pendingmodelapplicationarray"
    [skip]="pendingmodelapplicationarray_skip" 
    [modify_header_array]="modify_header_array" 
    [apiurl]="apiService.api_url" 
    [deleteendpoint]="deleteendpoint" 
    [updateendpoint]="updateendpoint" 
    [jwttoken]="apiService.jwttoken" 
    [editroute]="editroute"
    [sourcedata]="tablename"  
    [statusarr]="statusarray" 
    
    [searchendpoint]="searchendpoint"></lib-listing>


</app-adminheader>